<!DOCTYPE html>
<html>
<head>
    <style> 
    section{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1%;
        padding: 1%;
        border: solid 1px black;
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    } 
    .content{
        display: flex;
        flex-direction: row;
        text-align: left;
    }   
    .data{
        padding-left: 1%; 
        display: flex;
        flex-direction: column;
    } 
    .content img{
        border-radius: 5%; 
        width: 20%;
        height: auto;        
    }
    
    </style>
</head>
<body>

    <% @actors.each do |item| %>

        <% if item.alive == false %>
            <section> 
                <div><strong><%= item.name %></strong></div> 
                <div class = "content">
                    <img src=<%= item.image_url %>>
                    <div class = "data">
                        <p><strong>Birthdate:</strong> <%= item.birth_date %></p> 
                        <p><strong>Place of birth:</strong> <%= item.birth_place %></p>  
                        <p><strong>Death date:</strong> <%= item.death_date %></p>  
                        <p><strong>Place of death:</strong> <%= item.death_place %></p>  
                        <p><%= item.bio %></p> 
                    </div>
                </div>
            </section>
        <%else%>
            <section> 
                <div><strong><%= item.name %></strong></div> 
                <div class = "content">
                    <img src=<%= item.image_url %>>
                    <div class = "data">
                        <p><strong>Birthdate:</strong> <%= item.birth_date %></p> 
                        <p><strong>Place of birth:</strong> <%= item.birth_place %></p>  
                        <p><%= item.bio %></p> 
                    </div>
                </div>
            </section>
        <%end%>

    <%end%>
    
    <%= link_to "Crear Actor", new_actor_path %>
   

</body>
</html>
